
.highlighttable
  border-spacing: 0
  border: 1px solid #DDD
  margin-bottom: 24px
  table-layout: fixed
  width: 100%

  td
    border: 0
    padding: 0

  .linenos
    background: #FAFAFA
    border-right: 1px solid #DDD
    color: #999
    padding: 12px 0
    text-align: right
    vertical-align: top
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

    a
      color: #999
      margin: 0
      padding: 0 12px
      text-decoration: none

    pre
      background-color: transparent

  pre
    background: #FFF
    font-size: 15px
    line-height: 20px
    margin: 0
    overflow-x: auto
    white-space: pre

  .code
    overflow-y: scroll
    width: calc(100% - 50px)

    pre
      padding: 12px
