.highlighttable
  border-spacing: 0
  margin-bottom: 24px
  table-layout: fixed
  width: 100%

  td
    border: 1px solid #DDD
    padding: 0

  .linenos
    background: #FAFAFA
    border-right-width: 0
    color: #999
    text-align: right
    vertical-align: top
    padding: 12px 0
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

    a
      color: #999
      margin: 0
      padding: 0 12px
      text-decoration: none

    pre
      background-color: transparent

  pre
    margin: 0
    white-space: pre
    overflow-x: auto
    background: #FFF
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace

  .code
    overflow-y: scroll
    width: calc(100% - 50px)

    pre
      padding: 12px
