.hll
  background-color: #FFFFCC

.err  // errors
  color: #A61717
  background-color: #E3D2D2

.w  // whitespace
  color: #BBBBBB

/**
 * Comments
 */
.c    // comments
.cm   // multi line comment
.c1   // comment, single
  color: #999988
  font-style: italic

.cp   // comment, prepro
.cs   // comment, special
  color: #999999
  font-weight: bold
  font-style: italic

/**
 * GENERIC
 */
.gd   // generic, deleted
  color: #000000
  background-color: #FFDDDD

.ge   // generic, emph
  color: #000000
  font-style: italic

.gr   // generic error
  color: #AA0000

.gh   // generic heading
  color: #999999

.gi   // generic inserted
  color: #000000
  background-color: #DDFFDD

.go   // generic output
  color: #888888

.gp   // generic prompt
  color: #555555

.gs   // generic strong
  font-weight: bold

.gu   // generic subheading
  color: #AAAAAA

.gt   // generic traceback
  color: #AA0000

/**
 * KEYWORDS
 */
.k    // keyword
.kc   // constant
.kd   // declaration
.kn   // namespace
.kp   // pseudo
.kr   // reserved
  color: #000000
  font-weight: bold

.kt   // type
  color: #445588
  font-weight: bold

/**
 * LITERAL: Numbers
 */
.m    // number
.mf   // float
.mh   // hex
.mi   // integer
.mo   // octet
.il   // long
  color: #009999

/**
 * LITERAL: String
 */
.s    // string
.sb   // backtick
.sc   // char
.sd   // doc
.s2   // double
.se   // escape
.sh   // heredoc
.si   // interpol
.sx   // other
.s1   // single
  color: #D01040

.sr   // RegExp
  color: #009926

.ss   // symbol
  color: #990073

/**
 * NAME
 */
.na   // attribute
  color: #008080

.nb   // built-in
  color: #0086B3

.bp // built-in pseudo
  color: #999999

.nc   // class
  color: #445588
  font-weight: bold

.no   // constant
  color: #008080

.nd   // decorator
  color: #3C5D5D
  font-weight: bold

.ni   // entity
  color: #800080

.ne   // exception
  color: #990000
  font-weight: bold

.nf   // function
  color: #990000
  font-weight: bold

.nl   // label
  color: #990000
  font-weight: bold

.nn   // namespace
  color: #555555

.nt   // tag
  color: #000080

.nv   // variable
.vc   // variable class
.vg   // variable global
.vi   // variable instance
  color: #008080

/**
 * OPERATOR
 */
.o    // operator
.ow   // word
  color: #000000
  font-weight: bold
